contourpy==1.3.1
coverage==7.6.12
cycler==0.12.1
-e git+ssh://git@github.com/gerard7/BigDataPython.git@86ab63edf59b43af27f9e404179be02bd1ac2e21#egg=DataPulse&subdirectory=DataPulse
et_xmlfile==2.0.0
Faker==36.1.1
fonttools==4.56.0
gzip-reader==0.1
gzip-static==0.1.0
gzip-stream==1.2.0
gzip-utils==2020.7.15
iniconfig==2.0.0
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
mathplot==0.1
matplotlib==3.10.0
numpy==2.2.3
openpyxl==3.2.0b1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pluggy==1.5.0
psutil==7.0.0
pyparsing==3.2.1
pypi==2.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-repeat==0.9.3
python-dateutil==2.9.0.post0
pytz==2025.1
scipy==1.15.2
scipy-statistics==1.0.0
seaborn==0.13.2
setuptools==75.8.0
six==1.17.0
tzdata==2025.1
